{% extends '::base.html.twig' %}

{% block body %}
<h1> Your Messages: </h1>
	</br>
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
<table class="table">
<tr>
	<td><strong>Sender</strong></td>
	<td><strong>Message</strong></td>
</tr>
{% for message in messages %}
<tr>
    <td><a href="{{ path('project_portal_user', { 'user_id': message.UserUser.userId }) }}">{{ message.UserUser.username }}</td> <td> <a href="{{ path('project_portal_message_view', { 'message_id': message.messageId }) }}"> {{ message.msgBody[:100] ~ '...'}} </td>
                    </a>
</tr>
{% endfor %}
</table>
{% endblock %}
