{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/structure.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/body.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/exception.css') }}" />
{% endblock %}

{% block body %}
        Welcome, {{ app.user.username }}!
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
{% for post in posts %}
    {{ loop.index }} - {{ post.body[:20] ~ '...'}} - <a href="view/{{ loop.index - 1}}">Zobacz więcej...
                    </a>
	</br>
{% endfor %}
{% endblock %}
