{% extends '::base.html.twig' %}


{% block body %}
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-info">
        {{ flashMessage }}
    </div>
{% endfor %}

        <h2> Post:  </h2>
    <div class="well"> 
	<small>Added: {{ post.postDate|date('Y-m-d') }} - Author: <a href="{{ path('project_portal_user', { 'user_id': post.UserUser.userId  }) }}"> {{ post.UserUser.username }} </a> 
		{% if tag.tagName != null %}
		- tag: <a href="{{ path('project_portal_tag_view', { 'tag_name': tag.tagName  }) }}"> {{ tag.tagName }} </a>
		{% endif %}
		</small>
	</br>
	<div class="panel-body">
	<h4>{{ post.postBody }}</h4> 
	</div>
		</br>
		<strong>Likes: {{ likes|length }} </strong>
			
			{% if likes|length == 0 %}
				<a href="{{ path('project_portal_like', { 'post_id': post.postId }) }}" class="btn btn-primary btn-medium">Like <i class="glyphicon glyphicon-thumbs-up"></i></a>
			{% endif %}
			{% for like in likes %}
				{% if like.UserUser.username == app.user.username %} 
					<a href="{{ path('project_portal_unlike', { 'post_id': post.postId }) }}" class="btn btn-primary btn-danger">Unlike <i class="glyphicon glyphicon-thumbs-down"></i></a>
				{% else %}
					<a href="{{ path('project_portal_like', { 'post_id': post.postId }) }}" class="btn btn-primary btn-medium">Like <i class="glyphicon glyphicon-thumbs-up"></i></a>
				{% endif %}
			{% endfor %}
				</div>
		<h2>Comments ({{ comments|length }}):</h2>
<div class="row">
		{% for comment in comments %}
<div class="col-sm-1">
<div class="thumbnail">
<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
</div><!-- /thumbnail -->
</div><!-- /col-sm-1 -->
<div class="col-sm-11">
<div class="panel panel-default">
<div class="panel-heading">
<strong>{{ comment.UserUser.username }} </strong> <span class="text-muted">commented {{ comment.commentDate|date }} 
	{% if comment.UserUser.username == app.user.username %}
		<a href="{{ path('project_portal_comment_edit', { 'comment_id': comment.commentId }) }}" class="btn btn-info btn-xs">Edit</a>
		<form name="delete_comment" id="delete_comment" action="{{ path('project_portal_comment_delete', { 'comment_id': comment.commentId }) }}" method="post" onclick="return confirm('Are you sure?')">
		        <input type="submit" name="delete_comment" id="delete_comment" class="btn btn-danger btn-xs" value="Delete!" onclick="return confirm('Are you sure?')"/>
		</form>
	{% endif %}
	</span> 	
</div>
<div class="panel-body">
{{ comment.commentBody }}	
</div><!-- /panel-body -->	
</div><!-- /panel panel-default -->	
</div><!-- /col-sm-5 -->
{% endfor %}
</div>
		<h2>Add comment:</h2>
	    <form name="add_comment" id="add_comment" action="{{ path('project_portal_comment', { 'post_id': post.postId }) }}" method="post" {{ form_enctype(comment_form) }}>
        {{ form_widget(comment_form) }}
		</br>
        <input type="submit" name="add_comment" id="add_comment" class="btn btn-primary btn-large" />
    </form>

{% endblock %}
