{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/structure.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/body.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/exception.css') }}" />
{% endblock %}

{% block body %}
<h1>{{ user.username }}'s posts:</h1>
	</br>
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
<div class="container">
    <ul class="timeline">
	{% for post in posts %}
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-console"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{ post.UserUser.username }} says:</h4>
              <p><a href="{{ path('project_portal_view', { 'post_id': post.postId }) }}"> {{ post.postBody[:120] ~ '...'}} </a></p>
            </div>
            <div class="timeline-body">
              <p>dsfsdfdsfdsfdsf</p>
            </div>
          </div>
        </li>
    {% endfor %}   
    </ul>
</div>
{% endblock %}
